.game {
    height: calc(100vh - 80px);
    width: 100%;
    padding: 30px 8vw 10px;
    min-height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.title h2 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.title span {
    font-size: 1.4rem;
    font-weight: 500;
}

.row {
    flex: 1;
    width: 100%;
}

.box {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    min-width: 350px;
    min-height: 500px;
    margin: auto;
    margin-bottom: 40px;
    cursor: default;
}

.header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h3 {
    font-size: 2rem;
    margin: 10px 0;
    text-transform: uppercase;
}

.header img {
    height: 220px;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}

.content {
    flex: 1;
    background-color: #4290A9;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h3 {
    /* color: #e0a800; */
    color: white;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.content p {
    text-align: justify;
    color: white;
}

.content button {
    font-size: 1.4rem;
    height: 40px;
    width: 100%;
    background-color: #e0a800;
    border: none;
    border-radius: 3px;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
}

.content button:hover {
    background-color: #c39405;
}