.game {
  text-align: center;
  padding: 0 8%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  position: relative;
}

.game-status h3 {
  font-size: 2rem;
}

.game-status p {
  font-size: 1.6rem;
  margin-top: 3px;
}

/* .button {} */

.button button {
  font-size: 1.4rem;
  height: 40px;
  width: 140px;
  background-color: #e0a800;
  border: none;
  border-radius: 3px;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  margin: 15px 10px 0;
}

.button button:hover {
  background-color: #c39405;
}

.tile-container {
  display: grid;
  grid-gap: 0px;
  border: 1px solid gray;
  background-color: #ffffff83;
}

.tile {
  outline: 1px solid gray;
  outline-offset: -1px;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
}

.tile-wrapper {
  position: relative;
}

.full-image {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  width: 400px;
  align-items: center;
}

.full-image h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

.full-image img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.highscoretable {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
}

.user-row-in-highscore {
  border: 5px solid lightgreen;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.full-image .image-complete {
  width: 400px;
  height: 400px;
  object-fit: cover;
}