.banner {
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #1e618d;
    position: relative;
}

.overlay {
    width: 100%;
    height: 82%;
    background-color: #4290A9;
    position: absolute;
    top: 0;
    left: 0;
}

.slide {
    position: relative;
    width: 90%;
    height: 108%;
    margin: auto;
    margin-top: 50px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.slide-content {
    width: 50%;
    padding: 10px 0;
}

.slide-content h3 {
    color: #ffff00;
    font-size: 2.6rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 5px;
}

.slide-content span {
    font-size: 5.6rem;
    font-weight: 700;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
}

.slide-content p {
    color: white;
    margin: 20px 0;
    line-height: 2.2rem;
    letter-spacing: .8px;
    text-align: justify;
    font-size: 1.6rem;
}

.button {
    display: flex;
    align-items: center;
}

.button button {
    display: inline-block;
    padding: 12px 45px;
    color: black;
    background-color: #e0a800;
    font-weight: 500;
    border-radius: 3px;
    text-transform: uppercase;
    margin-right: 15px;
    border: none;
    cursor: pointer;
}

.button button:hover {
    background-color: #c39405;
}

.nav-slide {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-slide li {
    background-color: 4290a9;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 5px;
    box-sizing: unset;
    align-items: center;
}

.nav-slide .active {
    border: 5px solid white;
    background-color: unset;
}