.library {
    width: 100%;
    margin: 20px 0;
}

.header {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #dee2e6;
    border-left: 5px solid #e0a800;
}

.header h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.body {
    padding: 20px 30px 15px;
    background-color: white;
    border: 1px solid #dee2e6;
    overflow: hidden;
}

.box {
    margin-bottom: 10px;
}

.box h3 {
    margin: 10px 0;
    font-size: 1.4rem;
}

.image {
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show p {
    font-size: 1.3rem;
    text-decoration: underline;
    padding: 5px 10px;
    cursor: pointer;
}

.show p:hover {
    color: rgb(83, 83, 83);
}