header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #244366;
    display: flex;
    align-items: center;
    z-index: 999;
}

.header {
    max-width: 1180px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    cursor: default;
}

.logo img {
    height: 60px;
    width: auto;
    margin-right: 10px;
}

.logo p {
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu {
    display: none;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
}

.list a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 0;
    margin-left: 50px;
    position: relative;
}

.list a:hover {
    color: yellow;
}